@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 800px
	position: relative
	line-height: 1.25
	font-family: "ProximaNovaRegular", sans-serif
	overflow-x: hidden
	background-color: #fff
	min-height: 1500px

.hidden
	display: none

.stock
	height: 71px
	background-image: url(../img/stock-bg.jpg)
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	position: relative
	display: block
	border-bottom: 1px solid #fff
	z-index: -2
	display: block
	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background-color: rgba(#000,.5)
		z-index: -1
	&__wrapper
		text-align: center
	&__text
		display: inline-block
		color: #fff
		font-size: 24px
		font-family: "ProximaNovaBold", sans-serif
		line-height: 70px
		text-decoration: underline
	&__wp
		&:hover
			.stock__text
				text-decoration: none
.header
	&__top
		@extend .clearfix
	&__bottom
		height: 90px
		width: 100%
		background-color: #eeeeee
		position: relative
.logo
	padding-top: 24px
	float: left
	+percent(200, 1000)
	&__link
		display: block
		width: 111px
		height: 68px
		margin: 0 auto
.search
	margin-top: 38px
	float: left
	+percent(363, 1000)
	margin-right: 22 * 100 / 1000 + %
	form
		width: 100%
		@extend .clearfix
	&__input
		height: 42px
		border: 1px solid #dbdbdb
		border-radius: 6px 0 0 6px
		border-right: none
		float: left
		padding: 0 9px
		font-family: "ProximaNovaRegular", sans-serif
		line-height: 42px
		font-size: 13px
		width: 85%
	&__button
		border: 1px solid #dbdbdb
		border-left: none
		border-radius: 0 6px 6px 0
		background-color: transparent
		padding-left: 20px
		padding-right: 20px
		height: 42px
		float: left
		width: 15%
		background-color: #fff
		&-img
			width: 23px
			height: 23px
			display: block
			background-image: url(../img/header-icon.png)
			background-position: 0 0
.phone
	margin-top: 39px
	float: left
	width: 12.7%
	&__number
		color: #383f51
		font-family: "ProximaNovaBold", sans-serif
		font-size: 14.95px
		line-height: 100%
	&__first
		border-bottom: 1px dotted #eeeeee
		display: inline-block
		letter-spacing: 0.5px
	&__last
		margin-top: 2px
		letter-spacing: 0.15px
.remember-site
	float: left
	margin-top: 42px
	+percent(87, 1000)
	&__button
		width: 29px
		height: 28px
		background-image: url(../img/header-icon.png)
		background-position: -27px 0
		position: relative
		cursor: pointer
		margin: 0 auto
		&-text
			position: absolute
			display: block
			left: 62px
			bottom: 46px
			color: #383f51
			font-family: "ProximaNovaBold", sans-serif
			font-size: 12px
			letter-spacing: 0.5px
			width: 150px
		&::after
			content: ''
			position: absolute
			width: 40px
			height: 18px
			display: block
			background-image: url(../img/header-icon.png)
			background-position: left bottom
			bottom: 40px
			left: 19px
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 3px
			background-color: transparent
			display: block
			bottom: -4px
			left: 0
			right: 0
		&:hover
			&::before
				background-color: #ffce00
.basket
	border: 1px solid #ffce00
	float: right
	height: 42px
	border-radius: 6px
	margin-top: 38px
	@extend .clearfix
	+percent(182, 1000)
	margin-right: 19 * 100 / 1000 + %
	&__left
		background-color: #ffce00
		float: left
		line-height: 40px
		border-radius: 5px 0 0 5px
		padding-left: 6%
		position: relative
		width: 62 * 100 / 201 + %
		&::after
			content: ''
			display: block
			@include triangle(41px 10px, #ffce00, right);
			position: absolute
			right: -10px
			top: 0
		&-amt
			color: #373737
			font-family: "ProximaNovaBold", sans-serif
			font-size: 16px
			display: inline-block
		&-icon
			width: 22px
			height: 21px
			display: block
			background-image: url(../img/header-icon.png)
			background-position: right top
			display: inline-block
			position: absolute
			top: 50%
			right: 6px
			margin-top: -10.5px
	&__right
		float: left
		line-height: 40px
		text-align: center
		width: 138 * 100 / 201 + %
		&-sum
			color: #383f51
			font-family: "ProximaNovaBold", sans-serif
			font-size: 16px
.nav
	width: 100%
	@extend .clearfix
	display: block
	padding: 12px 0
	&__item
		width: 100 / 6 + %
		float: left
		text-align: center
	&__link
		font-size: 14px
		color: #747474
		text-decoration: underline
		display: inline-block
		&:hover
			color: #747474
			text-decoration: none
.menu
	&__item
		width: 100 / 5 + %
		float: left
		border-top: 4px solid transparent
		cursor: pointer
	&__link
		text-align: center
		width: 100%
		display: block
		height: 90px
		position: relative
		&-active
			background-color: #fff
			border-top: 4px solid #383f51
		&-icon
			display: block
			margin: 0 auto
		&-text
			display: inline-block
			color: #383f51
			font-family: "ProximaNovaBold", sans-serif
			font-size: 14px
			padding-top: 10px
			position: absolute
			bottom: 10px
			left: 0
			right: 0
	&__drop-down
		cursor: default !important
		display: none
		position: absolute
		background-color: #fff
		padding-top: 25px
		padding-bottom: 25px
		width: 100%
		z-index: 999
		left: 0
		top: 90px
		-webkit-box-shadow: 0px 17px 17px 0px rgba(225,225,225,1)
		-moz-box-shadow: 0px 17px 17px 0px rgba(225,225,225,1)
		box-shadow: 0px 17px 17px 0px rgba(225,225,225,1)
		&__item
			width: 100 / 3 + %
			float: left
			padding-left: 80px
			margin-bottom: 20px
			&-title
				text-transform: uppercase
				color: #373737
				font-family: "ProximaNovaBold", sans-serif
				position: relative
				&-icon
					position: absolute
					left: -35px
					display: block
					top: -2px
			&-li
				color: #373737
				font-family: "ProximaNovaRegular", sans-serif
				font-size: 14px
				position: relative
				&::before
					content: '-'
					position: absolute
					left: -10px
				&:hover
					color: #f72c25
					text-decoration: underline
		&-button
			color: #383f51
			font-family: "ProximaNovaBold", sans-serif
			font-size: 14px
			border-bottom: 1px dotted #383f51
			display: inline-block
			position: relative
			&:hover
				color: #383f51
				text-decoration: none
				border-bottom: 1px dotted transparent
			&::before
				content: '>'
				font-family: "ProximaNovaBold", sans-serif
				position: absolute
				left: -10px
			&::after
				content: '<'
				font-family: "ProximaNovaBold", sans-serif
				position: absolute
				right: -10px
			&-wp
				width: 100%
				text-align: center
.sponsors
	border-top: 2px dashed #eeeeee
	border-bottom: 2px dashed #eeeeee
	padding-top: 20px
	padding-bottom: 20px
	margin-top: 40px
	position: relative
	.slick-list
		width: 100%
	.slick-slide
		text-align: center !important
		padding: 10px
		height: 60px !important
		img
			display: inline-block !important
			height: auto 
			width: 180px
	.slick-arrow
		background-color: #ffce00
		text-indent: -9999px
		width: 44px
		height: 41px
		border: none
	.slick-prev
		border-radius: 0 12px 12px 0
		&::after
			content: '<'
	.slick-next
		border-radius: 12px 0 0 12px
		&:after
			content: '>'
	&-arrow
		height: 40px
		width: 44px
		background-color: #ffce00
		position: absolute
		margin-top: -20px
		cursor: pointer
		z-index: 9999
		&__left
			left: 0
			top: 50%
			border-radius: 0 12px 12px 0
			&::after
				content: '<'
				position: absolute
				left: 10px
				top: 50%
				transform: translateY(-50%);
				font-size: 36px
				font-family: "ProximaNovaBold", sans-serif
				color: #fff
		&__right
			right: 0
			top: 50%
			border-radius: 12px 0 0 12px
			&::after
				content: '>'
				position: absolute
				right: 10px
				top: 50%
				transform: translateY(-50%);
				font-size: 36px
				font-family: "ProximaNovaBold", sans-serif
				color: #fff
.content
	padding-top: 64px
	padding-bottom: 44px
	&__wrapper
		@extend .clearfix
	&__title
		font-family: "ProximaNovaBold", sans-serif
		color: #383f51
		font-size: 18px
		text-transform: uppercase
		display: inline-block
	&__details-company
		color: #6ddad6
		text-decoration: underline
		display: inline-block
		margin-left: 32px
	&__left
		width: 500px
		float: left
		padding-left: 30px
	&__text
		p
			font-size: 16px
			line-height: 24px
			color: #373737
			padding-top: 10px
			padding-bottom: 14px
		img
			display: block
			max-width: 100%
	&__right
		width: 400px
		float: right
		.content__title
			padding-left: 30px
	&__discount
		&-top
			padding-top: 20px
			padding-left: 30px
			&-data
				color: #cbcbcb
				font-size: 16px
				line-height: 24px
				display: block
			&-title
				color: #373737
				font-family: "ProximaNovaBold"
				font-size: 18px
				line-height: 18px
				text-decoration: underline
				&:hover
					color: #373737
					text-decoration: none
			&-description
				color: #373737
				font-size: 16px
				line-height: 18px
				padding-top: 10px
		&-center
			background-color: #f72c25
			padding: 16px 30px
			margin-top: 16px
			position: relative
			&::after
				content: ''
				position: absolute
				top: 0
				left: 400px
				bottom: 0
				display: block
				width: 9999px
				background-color: #f72c25
				z-index: 999
			&-data
				color: #fff
				font-size: 16px
				line-height: 24px
				display: block
			&-title
				color: #fff
				font-family: "ProximaNovaBold"
				font-size: 18px
				line-height: 18px
				text-decoration: underline
				&:hover
					color: #fff
					text-decoration: none
			&-description
				color: #fff
				font-size: 16px
				line-height: 18px
				padding-top: 10px
.footer
	background-color: #373737
	&__left
		float: left
		+percent(575, 1000)
		background-color: #373737
	&__right
		float: right
		+percent(425, 1000)
		background-color: #2b2b2b
		padding-bottom: 20px
		position: relative
		&::after
			content: ''
			position: absolute
			top: 0
			left: 400px
			bottom: 0
			display: block
			width: 9999px
			z-index: 999
			background-color: #2b2b2b
	&__nav
		padding-left: 20px
		font-size: 0
		padding-top: 20px
		&-item
			display: inline-block
			margin-left: 14px
		&-link
			text-decoration: underline
			font-size: 16px
			color: #fff
			font-family: "ProximaNovaBold", sans-serif
	&__logo
		padding-left: 20px
		padding-top: 42px
		float: left
		&-link
			display: block
			height: 53px
			width: 88px
		&-img
	&__search
		width: 362px
		float: right
		margin-top: 42px
	&__cat
		float: left
		margin-left: 70px
		&-wp
			float: right
			clear: right
			padding-right: 13px
			@extend .clearfix
			padding-top: 18px
		&-item
		&-link
			color: #fff
			text-decoration: underline
			font-family: "ProximaNovaBold", sans-serif
			font-size: 16px
			padding: 1px 0
			display: inline-block
			&:hover
				color: #92dce5
				text-decoration: underline
	&__call
		padding-left: 40px
		padding-top: 20px
		float: left
		&-title
			color: #999
			font-size: 16px
			padding-bottom: 2px
			display: block
		&-number
			font-family: "ProximaNovaBold", sans-serif
			font-size: 18px
			line-height: 22px
			color: #fff
	&__write
		float: left
		padding-left: 40px
		padding-top: 20px
		width: 50%
		&-email
			color: #92dce5
			border-bottom: 1px dotted #92dce5
			font-size: 18px
			font-family: "ProximaNovaBold", sans-serif
			text-decoration: none
			line-height: 22px
			&:hover
				text-decoration: none
				color: #92dce5
				border-color: transparent
	&__come
		float: left
		clear: left
		padding-left: 40px
		padding-top: 20px
		width: 50%
	&__row
		float: left
		width: 100%
		clear: left
		padding-left: 40px
		padding-top: 20px
		@extend .clearfix
		.footer__write-email
			&:last-child
				margin-left: 64px
		&-soc
			width: 31px
			height: 31px
			display: block
			float: left
			background-image: url(../img/soc-icon.png)
			background-repeat: no-repeat
			margin-left: 16px
			&:first-child
				margin-left: 0
			&-1
				background-position: 0 0
			&-2
				background-position: -31px 0
			&-3
				background-position: -64px 0
			&-4
				background-position: -96px 0
			&-5
				background-position: -128px 0
.path
	padding-left: 50px
	padding-right: 50px
	&__item
		display: inline-block
		&::after
			content: '/'
			font-size: 14px
			color: #91dbe8
			padding: 0 5px
	&__link
		font-size: 14px
		color: #91dbe8
.content-card
	padding-top: 20px
.card
	&__title
		font-size: 18px
		color: #373737
		font-family: "ProximaNovaBold", sans-serif
	&__left
		padding-left: 50px
		padding-top: 16px
		width: 485px
		float: left
	&-slider
		padding-top: 20px
		&__top
			border: 2px solid #eeeeee
			&-item
				padding: 26px 0 52px
				img
					width: 288px
					margin: 0 auto
		&__bottom
			padding: 25px 0
			&-item
				border-left: 1px solid #f4f4f4
				border-right: 1px solid #f4f4f4
				text-align: center !important
				img
					display: inline-block
	&__description
		&-title
			font-size: 18px
			color: #373737
			font-family: "ProximaNovaBold", sans-serif
			display: block
			padding-bottom: 24px
		&-text
			line-height: 24px
			font-size: 16px
			color: #373737
		&-link
			color: #f72c25
			border-bottom: 1px dotted #f72c25
			display: inline-block
			font-size: 16px
			line-height: 24px
	&__info
		padding-top: 40px
		&-wp
			&-row
				@extend .clearfix
				width: 100%
			&-name
				color: #373737
				font-size: 16px
				font-family: "ProximaNovaBold", sans-serif
				float: left
				line-height: 24px
				width: 150px
			&-description
				color: #373737
				font-size: 16px
				line-height: 24px
				float: left
			&-link
				color: #f72c25
				border-bottom: 1px dotted #f72c25
				display: inline-block
				font-size: 16px
				line-height: 24px
				margin-top: 10px
	&__right
		width: 420px
		float: right
		padding-top: 56px
		&-b
			&-row
				@extend .clearfix
				border-bottom: 1px solid #f3f3f3
				padding: 12px 0
				&-n
					border-bottom: none
			&-left
				color: #ababab
				font-size: 14px
				line-height: 24px
				width: 100px
				float: left
			&-right
				font-size: 14px
				line-height: 24px
				color: #373737
				float: left
			&-input
				width: 40px
				border: 1px solid #efefef
				height: 22px
				display: inline-block
				text-align: right
				padding: 0 4px
				margin-right: 10px
			&-opl
				margin-right: 2px
				display: inline-block
			&-price
				color: #373737
				font-size: 22px
				font-family: "ProximaNovaBold"
			&-button
				color: #373737
				font-size: 16px
				font-family: "ProximaNovaBold", sans-serif
				height: 40px
				border: 1px solid #606574
				padding: 0 30px 0 30px
				display: inline-block
				line-height: 40px
				border-radius: 5px
				&:first-child
					border-color: #ffce00
					position: relative
					padding-right: 92px
					float: left
				&:last-child
					float: right
				&-corz
					width: 62px
					display: block
					height: 39px
					position: absolute
					right: 0
					top: 0
					background-color: #ffce00
					border-radius: 0 0 5px 0
					&::after
						content: ''
						display: block
						@include triangle(38px 10px, #ffce00, left);
						position: absolute
						left: -10px
						top: 0
				&-icon
					background-image: url(../img/header-icon.png)
					background-repeat: no-repeat
					background-position: right top
					display: inline-block
					height: 21px
					width: 22px
					position: absolute
					right: 20px
					top: 50%
					margin-top: -10.5px
		&-d
			padding-top: 70px
			&-title
				font-size: 18px
				color: #373737
				font-family: "ProximaNovaBold", sans-serif
				display: block
				padding-bottom: 24px
			&-block
				@extend .clearfix
			&-item
				width: 100 / 3 + %
				float: left
				text-align: center
				padding: 0 12px
				position: relative
				cursor: pointer
				padding-bottom: 18px
				&::after
					content: ''
					position: absolute
					left: 0px
					top: 50%
					width: 1px
					height: 128px
					margin-top: -64px
					background-color: #f3f3f3
				&:first-child
					&:after
						display: none
				&:hover
					background-color: #fff
					-webkit-box-shadow: 0px 17px 17px 0px rgba(238,238,238,1)
					-moz-box-shadow: 0px 17px 17px 0px rgba(238,238,238,1)
					box-shadow: 0px 17px 17px 0px rgba(238,238,238,1)
				&-title
					font-size: 14px
					line-height: 24px
					color: #373737
					text-decoration: underline
					cursor: pointer
					&:hover
						text-decoration: none
				&-wp
					@extend .clearfix
					padding-top: 10px
				&-price
					font-size: 18px
					color: #373737
					font-family: "ProximaNovaBold", sans-serif
					float: left
					&-d
						color: #f72c25
						font-size: 12px
						font-family: "ProximaNovaRegular", sans-serif
				&-button
					width: 30px
					height: 18px
					background-color: #eee
					float: right
					display: block
					border-radius: 3px
					background-image: url(../img/corz.png)
					background-repeat: no-repeat
					background-position: center
					cursor: pointer
					&:hover
						background-color: #ffce00
				&-one
					color: #373737
					font-size: 12px
					line-height: 14px
					display: inline-block
					border-bottom: 1px dotted #373737
					margin-top: 10px
					&:hover
						text-decoration: none
						color: #373737
						border-bottom: 1px dotted transparent
	&__bottom
		width: 100%
		float: left
		text-align: center
		padding-top: 52px
		&-title
			display: inline-block
			font-size: 18px
			color: #373737
			font-family: "ProximaNovaBold", sans-serif
			padding-bottom: 24px
	&__recommend
		float: left
		width: 100%
		text-align: center
		padding-top: 52px
		&-item
			width: 20%
			height: 320px
		.card__right-d-item-wp
			text-align: center
			.card__right-d-item-price
				float: none
				display: inline-block
			.card__right-d-item-button
				float: none
				display: inline-block
				margin-left: 10px
				vertical-align: top