@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px)
	.search__text
		font-size: 10px
	.content-wrapper
		width: 100%
	.search__input
		width: 82%
	.search__button
		width: 18%
	.content__left
		width: 450px
	.content__right
		width: 350px
	.footer__search
		width: 60%
	.footer__nav-link
		font-size: 12px
	.footer__cat-link
		font-size: 12px
	.footer__call-title
		font-size: 12px
	.footer__call-number, .footer__write-email
		font-size: 14px
	.phone__number
		font-size: 11.5px
	.card__left
		padding-left: 30px
		width: 430px
	.card__right
		width: 370px
	.card__right-b-button
		padding: 0 26px
	.card__right-b-button:first-child
		padding-right: 88px
	.contacts__left
		padding-left: 30px
		width: 534px
	.contacts__right
		padding-right: 30px
	.contacts__full
		padding-left: 0 !important
		margin-right: 30px
		margin-left: 30px
		width: 93%
	.sidebar
		width: 30%
	.t-content-wrapper
		width: 65%
	.tov-list-wrapper
		width: 100%
	.tov__item
		width: 50% !important
	.cat__item
		width: 33.333333%
		&:nth-child(5), &:nth-child(9)
			&::after
				display: block
		&:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10)
			&::after
				display: none
	.w-100
		padding: 0 10px
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width :1020px)
	.content-wrapper-1020
		width: 100%
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

