@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .content-wrapper:after, .content-wrapper-1020:after, .tov-list-wrapper:after, .header__top:after, .search form:after, .basket:after, .nav:after, .content__wrapper:after, .footer__cat-wp:after, .footer__row:after, .card__info-wp-row:after, .card__right-b-row:after, .card__right-d-block:after, .card__right-d-item-wp:after, .contacts__tabs:after, .contacts__tabs-cont-wp:after, .contacts__tabs-cont-item:after, .contacts__adrr:after, .corz__element-item:after, .corz__b-center-row:after, .corz__b-center-wp:after, .corz__b-center-1-row:after, .buy-1-click__bottom:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .content-wrapper:before, .content-wrapper-1020:before, .tov-list-wrapper:before, .header__top:before, .search form:before, .basket:before, .nav:before, .content__wrapper:before, .footer__cat-wp:before, .footer__row:before, .card__info-wp-row:before, .card__right-b-row:before, .card__right-d-block:before, .card__right-d-item-wp:before, .contacts__tabs:before, .contacts__tabs-cont-wp:before, .contacts__tabs-cont-item:before, .contacts__adrr:before, .corz__element-item:before, .corz__b-center-row:before, .corz__b-center-wp:before, .corz__b-center-1-row:before, .buy-1-click__bottom:before {
  content: '';
  display: table;
}

.content-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.content-wrapper-1020 {
  width: 1020px;
  margin: 0 auto;
}

.search__input::-webkit-input-placeholder {
  color: #c2c2c2;
  font-size: 13px;
  line-height: 42px;
}

.search__input::-moz-placeholder {
  color: #c2c2c2;
  font-size: 13px;
  line-height: 42px;
}

.search__input:-moz-placeholder {
  color: #c2c2c2;
  font-size: 13px;
  line-height: 42px;
}

.search__input:-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 13px;
  line-height: 42px;
}

.slick-arrow {
  display: none !important;
}

.sidebar {
  width: 250px;
  padding-left: 30px;
  padding-right: 40px;
  -webkit-box-shadow: 5px 0px 10px 0px #f7f7f7;
  -moz-box-shadow: 5px 0px 10px 0px #f7f7f7;
  box-shadow: 5px 0px 10px 0px #f7f7f7;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 30px;
  float: left;
}

.sidebar .corz__t-center {
  padding: 0;
  padding-bottom: 12px;
}

.sidebar .corz__t-center .content__title {
  font-size: 16px;
}

.filter {
  position: relative;
  width: 100%;
  padding-bottom: 35px;
}

.filter .ui-slider-horizontal .ui-slider-range {
  height: 5px;
  background-color: #ffce00;
}

.filter__title {
  display: block;
  text-align: left;
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  padding-bottom: 16px;
}

.filter .ui-slider-handle {
  top: -3px;
  width: 12px;
  height: 12px;
  background-color: #ffce00;
  border-radius: 50%;
  position: absolute;
  display: block;
  margin-left: -6px !important;
}

.filter .filter__price-sl {
  margin-top: 10px;
  background-color: #eeeeee;
  height: 5px;
}

.tov-list-wrapper {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.t-content-wrapper {
  width: 698px;
  float: right;
}

.t-content-wrapper .path {
  padding: 0;
}

body {
  font-size: 16px;
  min-width: 800px;
  position: relative;
  line-height: 1.25;
  font-family: "ProximaNovaRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

.hidden {
  display: none;
}

.stock {
  height: 71px;
  background-image: url(../img/stock-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  display: block;
  border-bottom: 1px solid #fff;
  z-index: -2;
  display: block;
}

.stock::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.stock__wrapper {
  text-align: center;
}

.stock__text {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-family: "ProximaNovaBold", sans-serif;
  line-height: 70px;
  text-decoration: underline;
}

.stock__wp:hover .stock__text {
  text-decoration: none;
}

.header__bottom {
  height: 90px;
  width: 100%;
  background-color: #eeeeee;
  position: relative;
}

.logo {
  padding-top: 24px;
  float: left;
  width: 20%;
}

.logo__link {
  display: block;
  width: 111px;
  height: 68px;
  margin: 0 auto;
}

.search {
  margin-top: 38px;
  float: left;
  width: 36.3%;
  margin-right: 2.2%;
}

.search form {
  width: 100%;
}

.search__input {
  height: 42px;
  border: 1px solid #dbdbdb;
  border-radius: 6px 0 0 6px;
  border-right: none;
  float: left;
  padding: 0 9px;
  font-family: "ProximaNovaRegular", sans-serif;
  line-height: 42px;
  font-size: 13px;
  width: 85%;
}

.search__button {
  border: 1px solid #dbdbdb;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  height: 42px;
  float: left;
  width: 15%;
  background-color: #fff;
}

.search__button-img {
  width: 23px;
  height: 23px;
  display: block;
  background-image: url(../img/header-icon.png);
  background-position: 0 0;
}

.phone {
  margin-top: 39px;
  float: left;
  width: 12.7%;
}

.phone__number {
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 14.95px;
  line-height: 100%;
}

.phone__first {
  border-bottom: 1px dotted #eeeeee;
  display: inline-block;
  letter-spacing: 0.5px;
}

.phone__last {
  margin-top: 2px;
  letter-spacing: 0.15px;
}

.remember-site {
  float: left;
  margin-top: 42px;
  width: 8.7%;
}

.remember-site__button {
  width: 29px;
  height: 28px;
  background-image: url(../img/header-icon.png);
  background-position: -27px 0;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}

.remember-site__button-text {
  position: absolute;
  display: block;
  left: 62px;
  bottom: 46px;
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  width: 150px;
}

.remember-site__button::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 18px;
  display: block;
  background-image: url(../img/header-icon.png);
  background-position: left bottom;
  bottom: 40px;
  left: 19px;
}

.remember-site__button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: transparent;
  display: block;
  bottom: -4px;
  left: 0;
  right: 0;
}

.remember-site__button:hover::before {
  background-color: #ffce00;
}

.basket {
  border: 1px solid #ffce00;
  float: right;
  height: 42px;
  border-radius: 6px;
  margin-top: 38px;
  width: 18.2%;
  margin-right: 1.9%;
  cursor: pointer;
  position: relative;
}

.basket__left {
  background-color: #ffce00;
  float: left;
  line-height: 40px;
  border-radius: 5px 0 0 5px;
  padding-left: 6%;
  position: relative;
  width: 30.84577%;
}

.basket__left::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-bottom: 20.5px solid transparent;
  border-left: 10px solid #ffce00;
  border-top: 20.5px solid transparent;
  position: absolute;
  right: -10px;
  top: 0;
}

.basket__left-amt {
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
  display: inline-block;
}

.basket__left-icon {
  width: 22px;
  height: 21px;
  display: block;
  background-image: url(../img/header-icon.png);
  background-position: right top;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -10.5px;
}

.basket__right {
  float: left;
  line-height: 40px;
  text-align: center;
  width: 68.65672%;
}

.basket__right-sum {
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
}

.basket__popup {
  width: 395px;
  position: absolute;
  background-color: #fff;
  top: 42px;
  right: 0;
  padding: 18px 30px;
  z-index: 999;
  cursor: default;
  display: none;
}

.basket__popup-wp {
  position: fixed;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  cursor: default;
}

.basket__popup-title {
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  padding-bottom: 10px;
  display: block;
}

.basket__popup-row {
  padding-top: 10px;
}

.basket__popup-link {
  width: 162px;
  display: block;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  border-radius: 4px;
}

.basket__popup-link:hover {
  text-decoration: none;
  color: #373737;
}

.basket__popup-link-left {
  float: left;
  border: 1px solid #efefef;
}

.basket__popup-link-right {
  float: right;
  border: 1px solid #ffd10f;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.basket__popup-link-right:hover {
  background-color: #ffd10f;
}

.basket__popup .corz__element-item {
  position: relative;
  height: 70px;
}

.basket__popup .corz__element-item::before {
  display: none;
}

.basket__popup .corz__element-item::after {
  display: none !important;
}

.basket__popup .corz__element-item .corz__element-img-wp {
  width: 57px;
  height: 70px;
}

.basket__popup .corz__element-item .corz__element-img-wp .corz__element-img {
  width: 80%;
}

.basket__popup .corz__element-item .corz__element-name {
  line-height: 100%;
  position: absolute;
  top: 23px;
  left: 57px;
  color: #383f51;
  font-size: 14px;
  width: 174px;
  height: auto;
}

.basket__popup .corz__element-item .corz__element-col {
  margin-left: 174px;
  width: 50px;
  line-height: 70px;
  height: 70px;
  color: #373737;
  font-size: 14px;
  font-family: "ProximaNovaBold", sans-serif;
  padding-top: 2px;
}

.basket__popup .corz__element-item .corz__element-price {
  float: right;
  width: 52px;
  line-height: 70px;
  height: 70px;
  font-size: 18px;
}

.nav {
  width: 100%;
  display: block;
  padding: 12px 0;
}

.nav__item {
  width: 16.66667%;
  float: left;
  text-align: center;
}

.nav__link {
  font-size: 14px;
  color: #747474;
  text-decoration: underline;
  display: inline-block;
}

.nav__link:hover {
  color: #747474;
  text-decoration: none;
}

.menu__item {
  width: 20%;
  float: left;
  border-top: 4px solid transparent;
  cursor: pointer;
}

.menu__link {
  text-align: center;
  width: 100%;
  display: block;
  height: 90px;
  position: relative;
}

.menu__link-active {
  background-color: #fff;
  border-top: 4px solid #383f51;
}

.menu__link-icon {
  display: block;
  margin: 0 auto;
}

.menu__link-text {
  display: inline-block;
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 14px;
  padding-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.menu__drop-down {
  cursor: default !important;
  display: none;
  position: absolute;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  z-index: 999;
  left: 0;
  top: 90px;
  -webkit-box-shadow: 0px 17px 17px 0px #e1e1e1;
  -moz-box-shadow: 0px 17px 17px 0px #e1e1e1;
  box-shadow: 0px 17px 17px 0px #e1e1e1;
}

.menu__drop-down__item {
  width: 33.33333%;
  float: left;
  padding-left: 80px;
  margin-bottom: 20px;
}

.menu__drop-down__item-title {
  text-transform: uppercase;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  position: relative;
}

.menu__drop-down__item-title-icon {
  position: absolute;
  left: -35px;
  display: block;
  top: -2px;
}

.menu__drop-down__item-li {
  color: #373737;
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 14px;
  position: relative;
}

.menu__drop-down__item-li::before {
  content: '-';
  position: absolute;
  left: -10px;
}

.menu__drop-down__item-li:hover {
  color: #f72c25;
  text-decoration: underline;
}

.menu__drop-down-button {
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 14px;
  border-bottom: 1px dotted #383f51;
  display: inline-block;
  position: relative;
}

.menu__drop-down-button:hover {
  color: #383f51;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}

.menu__drop-down-button::before {
  content: '>';
  font-family: "ProximaNovaBold", sans-serif;
  position: absolute;
  left: -10px;
}

.menu__drop-down-button::after {
  content: '<';
  font-family: "ProximaNovaBold", sans-serif;
  position: absolute;
  right: -10px;
}

.menu__drop-down-button-wp {
  width: 100%;
  text-align: center;
}

.sponsors {
  border-top: 2px dashed #eeeeee;
  border-bottom: 2px dashed #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  position: relative;
}

.sponsors .slick-list {
  width: 100%;
}

.sponsors .slick-slide {
  text-align: center !important;
  padding: 10px;
  height: 60px !important;
}

.sponsors .slick-slide img {
  display: inline-block !important;
  height: auto;
  width: 180px;
}

.sponsors .slick-arrow {
  background-color: #ffce00;
  text-indent: -9999px;
  width: 44px;
  height: 41px;
  border: none;
}

.sponsors .slick-prev {
  border-radius: 0 12px 12px 0;
}

.sponsors .slick-prev::after {
  content: '<';
}

.sponsors .slick-next {
  border-radius: 12px 0 0 12px;
}

.sponsors .slick-next:after {
  content: '>';
}

.sponsors-arrow {
  height: 40px;
  width: 44px;
  background-color: #ffce00;
  position: absolute;
  margin-top: -20px;
  cursor: pointer;
  z-index: 997;
}

.sponsors-arrow__left {
  left: 0;
  top: 50%;
  border-radius: 0 12px 12px 0;
}

.sponsors-arrow__left::after {
  content: '<';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  font-family: "ProximaNovaBold", sans-serif;
  color: #fff;
}

.sponsors-arrow__right {
  right: 0;
  top: 50%;
  border-radius: 12px 0 0 12px;
}

.sponsors-arrow__right::after {
  content: '>';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  font-family: "ProximaNovaBold", sans-serif;
  color: #fff;
}

.content {
  padding-top: 64px;
  padding-bottom: 44px;
}

.content__title {
  font-family: "ProximaNovaBold", sans-serif;
  color: #383f51;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
}

.content__details-company {
  color: #6ddad6;
  text-decoration: underline;
  display: inline-block;
  margin-left: 32px;
}

.content__left {
  width: 500px;
  float: left;
  padding-left: 30px;
}

.content__text p {
  font-size: 16px;
  line-height: 24px;
  color: #373737;
  padding-top: 10px;
  padding-bottom: 14px;
}

.content__text img {
  display: block;
  max-width: 100%;
}

.content__right {
  width: 400px;
  float: right;
}

.content__right .content__title {
  padding-left: 30px;
}

.content__discount-top {
  padding-top: 20px;
  padding-left: 30px;
}

.content__discount-top-data {
  color: #cbcbcb;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.content__discount-top-title {
  color: #373737;
  font-family: "ProximaNovaBold";
  font-size: 18px;
  line-height: 18px;
  text-decoration: underline;
}

.content__discount-top-title:hover {
  color: #373737;
  text-decoration: none;
}

.content__discount-top-description {
  color: #373737;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
}

.content__discount-center {
  background-color: #f72c25;
  padding: 16px 30px;
  margin-top: 16px;
  position: relative;
}

.content__discount-center::after {
  content: '';
  position: absolute;
  top: 0;
  left: 400px;
  bottom: 0;
  display: block;
  width: 9999px;
  background-color: #f72c25;
  z-index: 997;
}

.content__discount-center-data {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.content__discount-center-title {
  color: #fff;
  font-family: "ProximaNovaBold";
  font-size: 18px;
  line-height: 18px;
  text-decoration: underline;
}

.content__discount-center-title:hover {
  color: #fff;
  text-decoration: none;
}

.content__discount-center-description {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
}

.footer {
  background-color: #373737;
}

.footer__left {
  float: left;
  width: 57.5%;
  background-color: #373737;
}

.footer__right {
  float: right;
  width: 42.5%;
  background-color: #2b2b2b;
  padding-bottom: 20px;
  position: relative;
}

.footer__right::after {
  content: '';
  position: absolute;
  top: 0;
  left: 400px;
  bottom: 0;
  display: block;
  width: 9999px;
  z-index: 999;
  background-color: #2b2b2b;
}

.footer__nav {
  padding-left: 20px;
  font-size: 0;
  padding-top: 20px;
}

.footer__nav-item {
  display: inline-block;
  margin-left: 14px;
}

.footer__nav-link {
  text-decoration: underline;
  font-size: 16px;
  color: #fff;
  font-family: "ProximaNovaBold", sans-serif;
}

.footer__nav-link:hover {
  color: #92dce5;
}

.footer__logo {
  padding-left: 20px;
  padding-top: 42px;
  float: left;
}

.footer__logo-link {
  display: block;
  height: 53px;
  width: 88px;
}

.footer__search {
  width: 362px;
  float: right;
  margin-top: 42px;
}

.footer__cat {
  float: left;
  margin-left: 70px;
}

.footer__cat-wp {
  float: right;
  clear: right;
  padding-right: 13px;
  padding-top: 18px;
}

.footer__cat-link {
  color: #fff;
  text-decoration: underline;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
  padding: 1px 0;
  display: inline-block;
}

.footer__cat-link:hover {
  color: #92dce5;
  text-decoration: underline;
}

.footer__call {
  padding-left: 40px;
  padding-top: 20px;
  float: left;
}

.footer__call-title {
  color: #999;
  font-size: 16px;
  padding-bottom: 2px;
  display: block;
}

.footer__call-number {
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.footer__write {
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  width: 50%;
}

.footer__write-email {
  color: #92dce5;
  border-bottom: 1px dotted #92dce5;
  font-size: 18px;
  font-family: "ProximaNovaBold", sans-serif;
  text-decoration: none;
  line-height: 22px;
  display: inline-block;
}

.footer__write-email:hover {
  text-decoration: none;
  color: #92dce5;
  border-color: transparent;
}

.footer__come {
  float: left;
  clear: left;
  padding-left: 40px;
  padding-top: 20px;
  width: 50%;
}

.footer__row {
  float: left;
  width: 100%;
  clear: left;
  padding-left: 40px;
  padding-top: 20px;
}

.footer__row .footer__write-email:last-child {
  margin-left: 64px;
}

.footer__row-soc {
  width: 31px;
  height: 31px;
  display: block;
  float: left;
  background-image: url(../img/soc-icon.png);
  background-repeat: no-repeat;
  margin-left: 16px;
}

.footer__row-soc:first-child {
  margin-left: 0;
}

.footer__row-soc-1 {
  background-position: 0 0;
}

.footer__row-soc-2 {
  background-position: -31px 0;
}

.footer__row-soc-3 {
  background-position: -64px 0;
}

.footer__row-soc-4 {
  background-position: -96px 0;
}

.footer__row-soc-5 {
  background-position: -128px 0;
}

.path {
  padding-left: 50px;
  padding-right: 50px;
}

.path__item {
  display: inline-block;
}

.path__item::after {
  content: '/';
  font-size: 14px;
  color: #91dbe8;
  padding: 0 5px;
}

.path__link {
  font-size: 14px;
  color: #91dbe8;
}

.content-card {
  padding-top: 20px;
}

.card__title {
  font-size: 18px;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
}

.card__left {
  padding-left: 50px;
  padding-top: 16px;
  width: 485px;
  float: left;
}

.card-slider {
  padding-top: 20px;
}

.card-slider__top {
  border: 2px solid #eeeeee;
}

.card-slider__top-item {
  padding: 26px 0 52px;
}

.card-slider__top-item img {
  width: 288px;
  margin: 0 auto;
}

.card-slider__bottom {
  padding: 25px 0;
}

.card-slider__bottom-item {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  text-align: center !important;
}

.card-slider__bottom-item img {
  display: inline-block;
}

.card__description-title {
  font-size: 18px;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  display: block;
  padding-bottom: 24px;
}

.card__description-text {
  line-height: 24px;
  font-size: 16px;
  color: #373737;
}

.card__description-link {
  color: #f72c25;
  border-bottom: 1px dotted #f72c25;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
}

.card__description-link:hover {
  color: #f72c25;
  border-color: transparent;
  text-decoration: none;
}

.card__info {
  padding-top: 40px;
}

.card__info-wp-row {
  width: 100%;
}

.card__info-wp-name {
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  float: left;
  line-height: 24px;
  width: 150px;
}

.card__info-wp-description {
  color: #373737;
  font-size: 16px;
  line-height: 24px;
  float: left;
}

.card__info-wp-link {
  color: #f72c25;
  border-bottom: 1px dotted #f72c25;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.card__info-wp-link:hover {
  text-decoration: none;
  border-color: transparent;
  color: #f72c25;
}

.card__right {
  width: 420px;
  float: right;
  padding-top: 56px;
}

.card__right-b-row {
  border-bottom: 1px solid #f3f3f3;
  padding: 12px 0;
}

.card__right-b-row-n {
  border-bottom: none;
}

.card__right-b-left {
  color: #ababab;
  font-size: 14px;
  line-height: 24px;
  width: 100px;
  float: left;
}

.card__right-b-right {
  font-size: 14px;
  line-height: 24px;
  color: #373737;
  float: left;
}

.card__right-b-input {
  width: 40px;
  border: 1px solid #efefef;
  height: 22px;
  display: inline-block;
  text-align: right;
  padding: 0 4px;
  margin-right: 10px;
}

.card__right-b-opl {
  margin-right: 2px;
  display: inline-block;
}

.card__right-b-price {
  color: #373737;
  font-size: 22px;
  font-family: "ProximaNovaBold";
}

.card__right-b-button {
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  height: 40px;
  border: 1px solid #606574;
  padding: 0 30px 0 30px;
  display: inline-block;
  line-height: 40px;
  border-radius: 5px;
  float: right;
}

.card__right-b-button:hover {
  text-decoration: none;
  color: #373737;
}

.card__right-b-button:first-child {
  border-color: #ffce00;
  position: relative;
  padding-right: 92px;
  float: left;
}

.card__right-b-button:last-child {
  float: right;
}

.card__right-b-button-corz {
  width: 62px;
  display: block;
  height: 39px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffce00;
  border-radius: 0 0 5px 0;
}

.card__right-b-button-corz::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-bottom: 19px solid transparent;
  border-right: 10px solid #ffce00;
  border-top: 19px solid transparent;
  position: absolute;
  left: -10px;
  top: 0;
}

.card__right-b-button-icon {
  background-image: url(../img/header-icon.png);
  background-repeat: no-repeat;
  background-position: right top;
  display: inline-block;
  height: 21px;
  width: 22px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10.5px;
}

.card__right-d {
  padding-top: 70px;
}

.card__right-d-title {
  font-size: 18px;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  display: block;
  padding-bottom: 24px;
}

.card__right-d-item {
  width: 33.33333%;
  float: left;
  text-align: center;
  padding: 0 12px;
  position: relative;
  cursor: pointer;
  padding-bottom: 18px;
}

.card__right-d-item::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  width: 1px;
  height: 128px;
  margin-top: -64px;
  background-color: #f3f3f3;
}

.card__right-d-item:first-child:after {
  display: none;
}

.card__right-d-item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 17px 17px 0px #eeeeee;
  -moz-box-shadow: 0px 17px 17px 0px #eeeeee;
  box-shadow: 0px 17px 17px 0px #eeeeee;
}

.card__right-d-item-title {
  font-size: 14px;
  line-height: 24px;
  color: #373737;
  text-decoration: underline;
  cursor: pointer;
}

.card__right-d-item-title:hover {
  text-decoration: none;
}

.card__right-d-item-wp {
  padding-top: 10px;
}

.card__right-d-item-price {
  font-size: 18px;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  float: left;
}

.card__right-d-item-price-d {
  color: #f72c25;
  font-size: 12px;
  font-family: "ProximaNovaRegular", sans-serif;
}

.card__right-d-item-button {
  width: 30px;
  height: 18px;
  background-color: #eee;
  float: right;
  display: block;
  border-radius: 3px;
  background-image: url(../img/corz.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.card__right-d-item-button:hover {
  background-color: #ffce00;
}

.card__right-d-item-one {
  color: #373737;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  border-bottom: 1px dotted #373737;
  margin-top: 10px;
}

.card__right-d-item-one:hover {
  text-decoration: none;
  color: #373737;
  border-bottom: 1px dotted transparent;
}

.card__bottom {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 52px;
}

.card__bottom-title {
  display: inline-block;
  font-size: 18px;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  padding-bottom: 24px;
}

.card__recommend {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 52px;
}

.card__recommend-item {
  width: 20%;
  height: 320px;
}

.card__recommend-item-img {
  height: 83px;
  margin: 22px 0;
}

.card__recommend .card__right-d-item-wp {
  text-align: center;
}

.card__recommend .card__right-d-item-wp .card__right-d-item-price {
  float: none;
  display: inline-block;
}

.card__recommend .card__right-d-item-wp .card__right-d-item-button {
  float: none;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.contacts__left {
  padding-left: 50px;
  padding-top: 16px;
  width: 708px;
  float: left;
}

.contacts__tabs .active {
  background-color: #ffce00;
}

.contacts__tabs .active::after {
  display: none;
}

.contacts__tabs-wp {
  padding-top: 16px;
}

.contacts__tabs-item {
  width: 33.33333%;
  float: left;
  display: block;
  position: relative;
  height: 68px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.contacts__tabs-item::after {
  content: '';
  width: 1px;
  height: 42px;
  position: absolute;
  background-color: #f0f0f0;
  right: 0;
  top: 50%;
  margin-top: -21px;
}

.contacts__tabs-item:last-child::after {
  display: none;
}

.contacts__tabs-item-s {
  color: #373737;
  font-size: 16px;
  line-height: 100%;
  font-family: "ProximaNovaBold", sans-serif;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts__tabs-cont-wp {
  display: block;
  width: 100%;
  border: 2px solid #f3f3f3;
  -webkit-box-shadow: 0px 17px 17px 0px #eeeeee;
  -moz-box-shadow: 0px 17px 17px 0px #eeeeee;
  box-shadow: 0px 17px 17px 0px #eeeeee;
  padding: 14px 26px;
}

.contacts__tabs-cont-item {
  width: 50%;
  float: left;
  position: relative;
  padding: 18px 0 18px 12px;
}

.contacts__tabs-cont-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 62px;
  background-color: #f3f3f3;
  right: 0;
  top: 50%;
  margin-top: -31px;
}

.contacts__tabs-cont-item::before {
  content: '';
  position: absolute;
  width: 266px;
  height: 1px;
  background-color: #f3f3f3;
  bottom: 0;
  left: 50%;
  margin-left: -133px;
}

.contacts__tabs-cont-item:nth-child(even)::after {
  display: none;
}

.contacts__tabs-cont-item:nth-child(3)::before, .contacts__tabs-cont-item:nth-child(4)::before {
  display: none;
}

.contacts__tabs-cont-icon {
  width: 29.2517%;
  float: left;
}

.contacts__tabs-cont-text {
  width: 70.7483%;
  float: right;
  color: #383f51;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contacts__tabs-cont-round {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #eee;
  position: relative;
}

.contacts__tabs-cont-round-i {
  background: url(../img/contact-icon.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
}

.contacts__right {
  float: right;
  width: 260px;
  padding-top: 54px;
}

.contacts__form {
  width: 100%;
  border: 2px solid #f3f3f3;
  -webkit-box-shadow: 0px 17px 17px 0px #eeeeee;
  -moz-box-shadow: 0px 17px 17px 0px #eeeeee;
  box-shadow: 0px 17px 17px 0px #eeeeee;
  padding: 18px;
  height: 279px;
}

.contacts__form-title {
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  display: block;
  padding-bottom: 16px;
  padding-left: 4px;
}

.contacts__form-input {
  height: 24px;
  border: 2px solid #f3f3f3;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 9px;
  border-radius: 2px;
}

.contacts__form-textarea {
  height: 70px;
  border: 2px solid #f3f3f3;
  display: block;
  width: 100%;
  margin-bottom: 18px;
  resize: none;
  padding-left: 9px;
  border-radius: 2px;
}

.contacts__form-button {
  width: 100%;
  background-color: #ffce00;
  border: none;
  height: 40px;
  text-align: center;
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  display: block;
}

.contacts__full {
  margin-top: 42px;
  padding-top: 22px;
  border-top: 2px solid #f4f4f4;
  float: left;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 83px;
}

.contacts__adrr {
  padding-bottom: 22px;
}

.contacts__adrr-left {
  padding-left: 60px;
  position: relative;
  width: 50%;
  float: right;
}

.contacts__adrr-right {
  padding-left: 60px;
  position: relative;
  width: 50%;
  float: left;
}

.contacts__adrr-icon {
  display: block;
  background-image: url(../img/address-icon.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 34px;
  height: 27px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -13.5px;
}

.contacts__adrr-link {
  color: #373737;
  font-size: 18px;
  border-bottom: 1px dotted #373737;
  line-height: 18px;
  display: inline-block;
}

.contacts__adrr-link:hover {
  text-decoration: none;
  color: #373737;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  width: 100% !important;
}

.corz__t-center {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  padding-top: 16px;
}

.corz__element {
  padding-top: 16px;
}

.corz__element-item {
  height: 90px;
  position: relative;
}

.corz__element-item::before {
  content: '';
  height: 1px;
  width: 99999px;
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  left: -9999px;
  right: 0;
  display: block;
}

.corz__element-item:last-child::after {
  content: '';
  height: 1px;
  width: 99999px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  left: -9999px;
  right: 0;
  display: block;
}

.corz__element-img {
  width: 70px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.corz__element-img-wp {
  width: 16.66667%;
  float: left;
  height: 90px;
  position: relative;
}

.corz__element-name {
  color: #383f51;
  font-size: 16px;
  line-height: 18px;
  width: 43.55556%;
  float: left;
  height: 90px;
  line-height: 90px;
}

.corz__element-name:hover {
  color: #383f51;
}

.corz__element-col {
  width: 24.22222%;
  float: left;
  height: 90px;
}

.corz__element-plus {
  background-color: transparent;
  border: none;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 30px;
  float: left;
  padding: 0;
  margin-top: 25px;
}

.corz__element-plus:hover {
  color: #ffce00;
}

.corz__element-input {
  width: 41px;
  height: 23px;
  display: inline-block;
  border: 1px solid #eeeeee;
  float: left;
  margin: 32px 20px 0 20px;
  text-align: right;
  padding-right: 2px;
}

.corz__element-minus {
  background-color: transparent;
  border: none;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 30px;
  float: left;
  padding: 0;
  margin-top: 23px;
}

.corz__element-minus:hover {
  color: #ffce00;
}

.corz__element-price {
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 18px;
  width: 12.77778%;
  float: left;
  display: block;
  line-height: 90px;
}

.corz__element-close {
  text-align: center;
  color: #eeeeee;
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

.corz__element-close:hover {
  color: #f72c25;
}

.corz__element-close-wp {
  width: 2.77778%;
  float: left;
}

.corz__c-center {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 96px;
}

.corz__c-center-wp {
  position: relative;
}

.corz__c-center-wp::before {
  content: '';
  width: 73px;
  height: 82px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  position: absolute;
  left: 32px;
  top: 50%;
  margin-top: -41px;
}

.corz__c-center-wp::after {
  content: '';
  width: 73px;
  height: 82px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  display: block;
  position: absolute;
  right: 32px;
  top: 50%;
  margin-top: -41px;
}

.corz__c-center .card__right-d-block {
  padding: 0 130px;
}

.corz__c-center .card__recommend-item {
  width: 33.33333%;
  height: 305px;
}

.corz__c-center .card__right-d-item-price {
  font-size: 30px;
}

.corz__c-center .card__right-d-item-price-d {
  font-size: 14px;
}

.corz__c-center .card__right-d-item-wp {
  padding: 0 10px;
}

.corz__c-center .card__right-d-item-button {
  height: 30px;
  width: 48px;
}

.card__recommend-item-i {
  height: 142px;
}

.corz__b-center {
  padding: 0 40px;
}

.corz__b-center-row {
  height: 86px;
  position: relative;
}

.corz__b-center-row::before {
  content: '';
  height: 1px;
  width: 99999px;
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  left: -9999px;
  right: 0;
  display: block;
}

.corz__b-center-row::after {
  content: '';
  height: 1px;
  width: 99999px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  left: -9999px;
  right: 0;
  display: block;
}

.corz__b-center-first {
  width: 48.36957%;
  float: left;
  line-height: 86px;
  color: #383f51;
  font-size: 18px;
  font-family: "ProximaNovaBold", sans-serif;
}

.corz__b-center-center {
  width: 29.13043%;
  float: left;
  line-height: 86px;
  color: #383f51;
  font-size: 18px;
  font-family: "ProximaNovaBold", sans-serif;
}

.corz__b-center-last {
  width: 22.5%;
  float: left;
  line-height: 86px;
  color: #383f51;
  font-size: 18px;
  font-family: "ProximaNovaBold", sans-serif;
}

.corz__b-center-wp {
  position: relative;
  padding-top: 28px;
}

.corz__b-center-1 {
  float: left;
  width: 45.21739%;
}

.corz__b-center-1-row {
  padding-bottom: 18px;
}

.corz__b-center-1-row-text {
  width: 34.61538%;
  float: left;
}

.corz__b-center-1-row-text-span {
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  line-height: 34px;
}

.corz__b-center-1-row-input {
  height: 34px;
  display: block;
  border: 1px solid #f2f2f2;
  margin-right: 23px;
  width: 100%;
  padding-left: 5px;
}

.corz__b-center-1-row-input-wp {
  width: 65.38462%;
  float: left;
  padding-right: 24px;
}

.corz__b-center-1-row-textarea {
  height: 82px;
  display: block;
  border: 1px solid #f2f2f2;
  resize: none;
  width: 100%;
  padding-left: 5px;
}

.corz__b-center-2 {
  float: left;
  padding-left: 24px;
  position: relative;
  width: 26.30435%;
}

.corz__b-center-2::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 344px;
  background-color: #f2f2f2;
  left: 0;
  top: 0;
}

.corz__b-center-2-row {
  margin-bottom: 13px;
}

.corz__b-center-2-row-check {
  display: none;
}

.corz__b-center-2-row-lab {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 80px;
  color: #373737;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.corz__b-center-2-row-lab-icon {
  position: absolute;
  display: block;
  left: 42px;
  top: 50%;
}

.corz__b-center-2-row-lab-active {
  font-family: "ProximaNovaBold", sans-serif;
}

.corz__b-center-2-row-lab::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #eeeeee;
  left: 0;
  top: 50%;
  margin-top: -12px;
  border-radius: 5px;
}

.corz__b-center-2-row input[type=radio]:checked + label:after {
  content: '';
  background-image: url(../img/checkmark.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  position: absolute;
  left: 3px;
  top: 50%;
  margin-top: -15px;
}

.corz__b-center-3 {
  float: left;
  padding-left: 24px;
  position: relative;
  width: 28.26087%;
}

.corz__b-center-3::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 344px;
  background-color: #f2f2f2;
  left: 0;
  top: 0;
}

.corz__b-bottom-wp {
  text-align: center;
  padding-top: 25px;
}

.corz__b-bottom-wp-os {
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 30px;
  display: inline-block;
  width: 100%;
}

.corz__b-bottom-wp-os span {
  margin-left: 10px;
}

.corz__b-bottom-wp-button {
  color: #373737;
  display: inline-block;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 24px;
  height: 62px;
  line-height: 60px;
  border: 2px solid #ffe888;
  padding: 0 40px;
  border-radius: 9px;
  margin-top: 36px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.corz__b-bottom-wp-button:hover {
  text-decoration: none;
  color: #373737;
  background-color: #ffe888;
}

.news__block {
  padding: 0 50px;
}

.news__block-item {
  padding-bottom: 32px;
  padding-top: 32px;
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
}

.news__block-item:hover {
  -webkit-box-shadow: 0px 17px 17px 0px #e1e1e1;
  -moz-box-shadow: 0px 17px 17px 0px #e1e1e1;
  box-shadow: 0px 17px 17px 0px #e1e1e1;
}

.news__block-item-data {
  display: block;
  color: #cbcbcb;
  font-size: 16px;
  line-height: 24px;
}

.news__block-item-title {
  font-size: 18px;
  line-height: 18px;
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  display: inline-block;
}

.news__block-item-title:hover {
  color: #f72c25;
}

.news__block-item-description {
  margin-top: 2px;
  display: block;
  color: #373737;
  line-height: 24px;
  font-size: 16px;
}

.pagination {
  font-size: 0;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.pagination__item {
  display: inline-block;
  margin-left: 12px;
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__link {
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  padding: 0 2px;
}

.pagination__link:hover {
  color: #f72c25;
}

.pagination__link-first {
  font-family: "ProximaNovaRegular", sans-serif;
}

.pagination__link-last {
  font-family: "ProximaNovaRegular", sans-serif;
}

.content-news {
  padding-bottom: 0;
}

.filter {
  text-align: center;
}

.filter__price {
  width: 76px;
  height: 26px;
  border-radius: 8px;
  display: block;
  border: 1px solid #eeeeee;
  text-align: center;
}

.filter__price-first {
  float: left;
}

.filter__price-last {
  float: right;
}

.filter span {
  display: inline-block;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  color: #373737;
  line-height: 24px;
}

.manufacturer {
  padding-bottom: 16px;
}

.manufacturer__block .corz__b-center-2-row-lab {
  padding-left: 32px;
}

.manufacturer__block .corz__b-center-2-row {
  margin-bottom: 4px;
}

.manufacturer__title {
  color: #373737;
  font-size: 16px;
  font-family: "ProximaNovaBold", sans-serif;
  padding-bottom: 10px;
  display: block;
}

.manufacturer__link {
  color: #f72c25;
  font-size: 14px;
  display: inline-block;
  border-bottom: 1px dotted #f72c25;
  line-height: 16px;
}

.manufacturer__link:hover {
  color: #f72c25;
  border-color: transparent;
  text-decoration: none;
}

.manufacturer__link-wp {
  text-align: left;
  text-align: center;
  padding-top: 6px;
}

.manufacturer__button {
  display: block;
  border: none;
  height: 38px;
  line-height: 38px;
  color: #373737;
  font-size: 14px;
  font-family: "ProximaNovaBold", sans-serif;
  text-transform: uppercase;
  background-color: #ffce00;
  border-radius: 6px;
  width: 100%;
}

.manufacturer__button-wp {
  width: 100%;
}

.t-cont-wp {
  padding-top: 16px;
}

.t-cont-wp__title {
  font-size: 18px;
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
}

.tov__item {
  width: 33.33333% !important;
  padding: 0 5%;
}

.tov__item .card__right-d-item-price {
  font-size: 30px;
}

.tov__item .card__right-d-item-button {
  height: 30px;
  width: 48px;
  background-image: url(../img/tov-corz.png);
}

.text-block .content__title {
  padding-bottom: 16px;
  display: block;
}

.text-block .list {
  padding-left: 14px;
  display: block;
  float: left;
}

.text-block .list li {
  padding-left: 10px;
  position: relative;
  display: block;
}

.text-block .list li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
}

.text__description {
  display: block;
  color: #373737;
  font-size: 16px;
  line-height: 24px;
}

.text__description-link {
  text-decoration: underline;
  border-bottom: none !important;
}

.text__description a {
  color: #f72c25;
  border-bottom: 1px dotted #f72c25;
  line-height: 18px;
  display: inline-block;
}

.text__description a:hover {
  text-decoration: none;
  color: #f72c25;
  border-bottom: 1px dotted transparent;
}

.text__description-b {
  display: block;
  width: 100%;
  clear: both;
}

.text__description-p {
  text-indent: 40px;
}

.text__description strong {
  font-family: "ProximaNovaBold", sans-serif;
}

.text__description-img-left {
  float: left;
  margin-right: 80px;
  display: block;
}

.text__description-img-left-i {
  margin: 40px 80px 40px 0;
}

.text__description-img-right {
  float: right;
  margin-left: 80px;
  display: block;
}

.text__title {
  color: #383f51;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
  display: block;
  padding: 16px 0;
}

.content-text {
  padding-bottom: 40px;
}

.overlay {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 450px;
  top: 0;
  left: 0;
  z-index: 995;
  cursor: pointer;
}

.search__text {
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  font-size: 12px;
  display: block;
  text-align: center;
}

.search {
  position: relative !important;
}

.card__description-text-show {
  display: none;
}

.card__info-wp-row-show {
  display: none;
}

.card__right-b-row-n {
  position: relative;
}

.buy-1-click {
  position: absolute;
  width: 518px;
  padding: 25px 30px 25px 45px;
  border: 1px solid #aeaeae;
  background-color: #fff;
  top: 52px;
  right: 0;
  z-index: 999;
  display: none;
}

.buy-1-click-wp {
  position: fixed;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  cursor: default;
}

.buy-1-click__top {
  position: relative;
}

.buy-1-click__title {
  color: #373737;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: block;
  padding-bottom: 5px;
  padding-top: 6px;
}

.buy-1-click__close {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  top: 5px;
  right: 0;
  cursor: pointer;
}

.buy-1-click__description {
  color: #373737;
  font-size: 16px;
  line-height: 24px;
  display: block;
  padding-bottom: 8px;
}

.buy-1-click__bottom {
  height: 80px;
}

.buy-1-click__img {
  width: 45px;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.buy-1-click__img-wp {
  width: 13.00448%;
  float: left;
  height: 80px;
  position: relative;
}

.buy-1-click__name {
  color: #383f51;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.buy-1-click__name-wp {
  width: 42.6009%;
  float: left;
  position: relative;
  height: 80px;
}

.buy-1-click__col {
  width: 40px;
  height: 23px;
  border: 1px solid #efefef;
  text-align: right;
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 14px;
}

.buy-1-click__col-wp {
  width: 28.02691%;
  float: left;
  height: 80px;
  padding-top: 28px;
}

.buy-1-click__minus {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.buy-1-click__minus::after {
  content: '';
  width: 15px;
  height: 3px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  background-color: #383f51;
}

.buy-1-click__minus:hover::after {
  background-color: #ffce00;
}

.buy-1-click__plus {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.buy-1-click__plus::after {
  content: '';
  width: 15px;
  height: 3px;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  background-color: #383f51;
}

.buy-1-click__plus::before {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -1.5px;
  background-color: #383f51;
}

.buy-1-click__plus:hover::after, .buy-1-click__plus:hover::before {
  background-color: #ffce00;
}

.buy-1-click__price {
  color: #373737;
  font-size: 18px;
  height: 80px;
  font-family: "ProximaNovaBold", sans-serif;
  line-height: 80px;
}

.buy-1-click__price-wp {
  width: 15.69507%;
  float: left;
}

.buy-1-click__form {
  padding-top: 16px;
}

.buy-1-click__icon {
  width: 15%;
  height: 29px;
  display: block;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
}

.buy-1-click__input-name {
  display: block;
  width: 85%;
  height: 29px;
  margin-bottom: 20px;
  border: 1px solid #d2d2d2;
  padding-left: 12px;
  position: relative;
}

.buy-1-click__input-tel {
  display: block;
  margin-left: 15%;
  width: 85%;
  height: 29px;
  border: 1px solid #d2d2d2;
  padding-left: 12px;
}

.buy-1-click__r-bottom {
  padding-top: 14px;
}
